<form method="post" action="{{ path('arrondissement_delete', {'arrondisseDem': arrondissement.arrondisseDem}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ arrondissement.arrondisseDem) }}">
    <button class="btn">Delete</button>
</form>
