{{ form_start(form) }}
    {{ form_widget(form) }}
    <p>(Garder appuyé la touche Ctrl pour selectionner plusieurs)</p>
    
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
