{% extends 'base.html.twig' %}

{% block title %}modifier demande{% endblock %}

{% block body %}
    <h1>Modifier Demande</h1>

    {{ include('demande/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
