<form method="post" action="{{ path('locataire_delete', {'id': locataire.id.id}) }}" onsubmit="return confirm('Vous confirmez la suppression?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ locataire.id.id) }}">
    <button class="btn">Supprimer</button>
</form>
