{% extends 'base.html.twig' %}

{% block title %}modifier locataire{% endblock %}

{% block body %}
    <h1>Modifier le locataire</h1>

    {{ include('locataire/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('locataire/_delete_form.html.twig') }}
    
    <button class="btn"><a href="{{ path('app_login') }}">Retournez à l'accueil</a></button>
{% endblock %}
