{% extends 'base.html.twig' %}

{% block title %}modifier profil{% endblock %}

{% block body %}
    <h1>Modifier votre profil</h1>

    {{ include('utilisateur/_form.html.twig', {'button_label': 'Mis à jour'}) }}

    <button class="btn"><a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">Retourner au profil</a></button>

    {{ include('utilisateur/_delete_form.html.twig') }}
{% endblock %}
