{% extends 'base.html.twig' %}

{% block title %}nouveau client{% endblock %}

{% block body %}
    <h1>Client Nouveau</h1>

    {{ include('client/_form.html.twig') }}

    <a href="{{ path('client_index') }}">back to list</a>
{% endblock %}
