<form method="post" action="{{ path('appartement_delete', {'numappart': appartement.numappart}) }}" onsubmit="return confirm('Vous confirmez la suppression?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appartement.numappart) }}">
    <button class="btn">Supprimer</button>
</form>
