{% extends 'base.html.twig' %}

{% block title %}modifier appartement{% endblock %}

{% block body %}
    <h1>Modifier appartement</h1>

    {{ include('appartement/_form.html.twig', {'button_label': 'Mis à jour'}) }}

    {{ include('appartement/_delete_form.html.twig') }}
{% endblock %}
