{% extends 'base.html.twig' %}

{% block title %}ajouter appartement{% endblock %}

{% block body %}
    <h1>Ajouter un appartement</h1>

    {{ include('appartement/_form.html.twig') }}

{% endblock %}
